<head><link rel="stylesheet" type="text/css" href="/css/presentation-style.scss" /></head>
<body>
    {{#each presentations}}
    <a class="container" href="/presentations/{{_id}}">
    <div class="container" >
        <div class="homepage">
            <ul>
                <li>{{ name }}</li>
                <li>{{ firstName }} {{ lastName }}</li>
                <li>{{ email }}</li>
                <li>{{ tag }}</li>
            </ul>
        </div>

        <div class="image">
            <img src="{{avatar}}" fetchpriority="high" alt="{{firstName}} {{lastName}}" />
        </div>
    </div>
    </a>
    {{/each}}
</body>
