<h1>{{presentation.name}}</h1>
<img src="{{presentation.avatar}}" fetchpriority="high" alt="{{presentation.firstName}} {{presentation.lastName}}" />
<div>{{presentation.firstName}} {{presentation.lastName}}</div>
<div>{{presentation.email}}</div>
<div>{{presentation._id}}</div>
<div>{{presentation.tag}}</div>
<div>
{{> favorited_cell favorited=presentation.favorited id=presentation._id }}
</div>
