<link rel="stylesheet" type="text/css" href="/css/presentation-style.css" />
{{#each presentations}}
<div data-testId="presentation-row">
    <div class="container">
        <div class="homepage">
            <ul>
                <li>
                    <a href="/presentations/{{id}}">
                        {{ topic }}
                    </a>
                </li>
                <li>{{day}} - {{start_time}}</li>
                <li>{{ presenter }}
                <li>
                <li>{{ tag }}</li>
                <li>
                    {{> favorited_cell favorited=favorited id=id }}
                </li>
            </ul>
        </div>

        <div class="image">
            <img src="{{image}}" fetchpriority="high" alt="{{presenter}}" />
        </div>
    </div>
</div>
{{/each}}