<link rel="stylesheet" type="text/css" href="/css/presentation-style.css" />
<div id="search-results">
  
  {{#each presentations}}
<div data-testId="presentation-row">
    <a class="container" href="/presentations/{{id}}">
    <div class="container" >
        <div class="homepage">
            <ul>
                <li>{{ topic }}</li>
                <li>{{ presenter }} <li>
                <li>{{ tag }}</li>
        <li>
          {{> favorited_cell favorited=favorited id=id }}
        </li>
            </ul>
        </div>

        <div class="image">
            <img src="{{image}}" fetchpriority="high" alt="{{presenter}}" />
        </div>
    </div>
    </a>
</div>
  {{/each}}
</div>
