<section class="featured">
  <div class="heading">
    {{#if featured}}
      <div class="featured">
        <h2 class="blink">Featured Presentation</h2>
      </div>
      <h1><a href="/presentations/{{presentation.id}}">{{presentation.topic}}</a></h1>
    {{^}}
      <h1>{{presentation.topic}}</h1>
    {{/if}}
  </div>

  <div class="summary">
    <div>
      <h2>{{presentation.presenter}}</h2>
      <img
        src="{{presentation.image}}"
        fetchpriority="high"
        alt="{{presentation.presenter}}"
      />
    </div>
    <div>
      <p>{{presentation.id}}</p>
      <p>{{presentation.tag}}</p>
      {{> favorited_cell favorited=presentation.favorited id=presentation.id }}
    </div>
  </div>
</section>
