<section>
  <div class="heading">
    {{#if featured}}
      <h2>Featured Presentation</h2>
      <h1><a href="/presentations/{{presentation._id}}">{{presentation.name}}</a></h1>
    {{^}}
      <h1>{{presentation.name}}</h1>
    {{/if}}
  </div>

  <div class="summary">
    <div>
      <h2>{{presentation.firstName}} {{presentation.lastName}}</h2>
      <img
        src="{{presentation.avatar}}"
        fetchpriority="high"
        alt="{{presentation.firstName}} {{presentation.lastName}}"
      />
    </div>
    <div>
      <h4>{{presentation.email}}</h4>
      <p>{{presentation._id}} </p>
      <p>{{presentation.tag}}</p>
      {{> favorited_cell favorited=presentation.favorited id=presentation._id }}
    </div>
  </div>
</section>
